In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from pandas.plotting import register_matplotlib_converters #Register pandas formatters and converters with matplotlib.
from pylab import rcParams # for customizing matplotlib graphs.
sns.set_style("whitegrid") # This one is very important to keep overall plot background as white.

In [19]:
data = pd.read_csv('train.csv')
data.head()

   row_id                 time  x  y direction  congestion
0       0  1991-04-01 00:00:00  0  0        EB          70
1       1  1991-04-01 00:00:00  0  0        NB          49
2       2  1991-04-01 00:00:00  0  0        SB          24
3       3  1991-04-01 00:00:00  0  1        EB          18
4       4  1991-04-01 00:00:00  0  1        NB          60

In [20]:
data.drop('row_id', axis=1, inplace=True)

In [21]:
data['year'] = data['time'].apply(lambda row: row[:4])
data['month'] = data['time'].apply(lambda row: row.split('-')[1][:2] )
data['date'] = data['time'].apply(lambda row: row.split('-')[2][:2])
data['hour'] = data['time'].apply(lambda row: row.split(':')[0][-2:] )
data['c_date'] = data['time'].apply(lambda row: row.split(' ')[0])
data = data.astype({'year':'int64','month':'int64', 'date':'int64'})

data.head()

,time,x,y,direction,congestion,year,month,date,hour,c_date
0,1991-04-01 00:00:00,0,0,EB,70,1991,4,1,00,1991-04-01
1,1991-04-01 00:00:00,0,0,NB,49,1991,4,1,00,1991-04-01
2,1991-04-01 00:00:00,0,0,SB,24,1991,4,1,00,1991-04-01
3,1991-04-01 00:00:00,0,1,EB,18,1991,4,1,00,1991-04-01
4,1991-04-01 00:00:00,0,1,NB,60,1991,4,1,00,1991-04-01

In [22]:
data = data.astype({'x':'str','y':'str', 'direction':'str', 'hour':'int64' })
data.dtypes

time          object
x             object
y             object
direction     object
congestion     int64
year           int64
month          int64
date           int64
hour           int64
c_date        object
dtype: object

In [23]:
data['highway_code']= data['x']+data['y']+data['direction']
data.head()

,time,x,y,direction,congestion,year,month,date,hour,c_date,highway_code
0,1991-04-01 00:00:00,0,0,EB,70,1991,4,1,0,1991-04-01,00EB
1,1991-04-01 00:00:00,0,0,NB,49,1991,4,1,0,1991-04-01,00NB
2,1991-04-01 00:00:00,0,0,SB,24,1991,4,1,0,1991-04-01,00SB
3,1991-04-01 00:00:00,0,1,EB,18,1991,4,1,0,1991-04-01,01EB
4,1991-04-01 00:00:00,0,1,NB,60,1991,4,1,0,1991-04-01,01NB

In [27]:
data['m_a_e_n'] = pd.cut(data['hour'], bins=[4,11,17,22], labels = [0, 1,2])
data = data.astype({'m_a_e_n':'float64'})
data['m_a_e_n'].fillna(3, inplace=True)
data['m_a_e_n'].isnull().sum()

0

In [36]:
data.iloc[690]

time            1991-04-01 03:20:00
x                                 2
y                                 0
direction                        NB
congestion                       82
year                           1991
month                             4
date                              1
hour                              3
c_date                   1991-04-01
highway_code                   20NB
m_a_e_n                           3
Name: 690, dtype: object

In [29]:
data = data.astype({'m_a_e_n':'int64'})
data['m_a_e_n'].unique()

array([3, 0, 1, 2], dtype=int64)

In [30]:
data.head()

,time,x,y,direction,congestion,year,month,date,hour,c_date,highway_code,m_a_e_n
0,1991-04-01 00:00:00,0,0,EB,70,1991,4,1,0,1991-04-01,00EB,3
1,1991-04-01 00:00:00,0,0,NB,49,1991,4,1,0,1991-04-01,00NB,3
2,1991-04-01 00:00:00,0,0,SB,24,1991,4,1,0,1991-04-01,00SB,3
3,1991-04-01 00:00:00,0,1,EB,18,1991,4,1,0,1991-04-01,01EB,3
4,1991-04-01 00:00:00,0,1,NB,60,1991,4,1,0,1991-04-01,01NB,3

In [ ]:
data['year'].loc[0]

In [ ]:
dt_list = []
for i,j in enumerate(data['c_date']):

    day_type = datetime.date(data['year'].iloc[i],data['month'].iloc[i],data['date'].iloc[i])
    dy = day_type.weekday()
    dt_list.append(dy)

data['is_weekday'] = dt_list

In [ ]:
data['is_weekday'] = pd.cut(data['is_weekday'], bins=[-1,5,7], labels = [0, 1])
data.is_weekday.isnull().sum()

In [ ]:
data.drop('time', axis=1)

In [ ]:
data.isnull().sum()

In [ ]:
sns.barplot(x= data.direction, y= data.congestion)